---
import experience from '@assets/experience'
import { marked } from 'marked'

marked.setOptions({ breaks: true })

const renderInlineMd = (md) => marked.parseInline(md ?? '')
---

<div>
    <h3>Experience</h3>
    {experience.experience.map((exp) => (
        <div>
            <div class="font-medium">
                {exp.title} ({exp.date})
            </div>
            <div class="text-slate-500">
                <ul>
                    <li>
                        <span set:html={renderInlineMd(exp.description)} />
                        {' '}from {exp.company}
                    </li>
                    <li>Skill set: {exp.skill}</li>
                </ul>
            
            </div>
        </div>
    ))}
</div>